Резульатаы модульного тестиорвания кода из файла task_3:

![image](https://user-images.githubusercontent.com/102159807/205464820-68e26d2f-3d00-4775-bfdb-f02d1347c5c0.png)
